@import "fonts";
@import "theming";

html {
    @include generateThemeVariables;
}

html,
body {
    outline: none;
    margin: 0;
    padding: 0;

    font-family: "Source Code Pro Regular", monospace;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.05em;
    overflow-x: hidden;
    // text-transform: uppercase;
}

body {
    @include theme(background-color, backgroundColor);
    @include theme(color, primaryColor);
}

a {
    @include theme(color, primaryColor);
    &:hover {
        @include theme(color, primaryColorOn);
    }
}

h2 {
    line-height: 1;
    margin-bottom: 30px;
    font-size: calc(2vw + 16px);
}
h4 {
    margin-bottom: 20px;
}
.contentCard {
    margin-bottom: 30px;
    @include theme(border, primaryColor, 1px solid);
    padding: 30px;
}
.abstract {
    margin-top: 50px;
}
.researchLinks {
    margin-top: 50px;
    a {
        font-size: 12px;
    }
    .researchLink {
        margin-bottom: 10px;
    }
}
.tag {
    opacity: 0.5;
}
